<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
      <img src="../../../assets/Image/angular.svg" width="37" height="37"  alt="Angular">
      <img src="../../../assets/Image/Logo_OpenClassrooms.png" width="30" height="30"  alt="OpenClassrooms">
    </a>
  </nav>
  <button #navbarToggler class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" (click)="isShown = !isShown" [attr.aria-expanded]="isShown"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': isShown }" id="navbarSupportedContent" >
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts" class="nav-link">List des posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="new" class="nav-link">New Post</a>
      </li>
    </ul>
  </div>
</nav>
