<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" routerLink="">
      <img src="../../../assets/Image/angular.svg" width="37" height="37"  alt="Angular">
      <img src="../../../assets/Image/Logo_OpenClassrooms.png" width="30" height="30"  alt="OpenClassrooms">
    </a>
  </nav>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="posts" class="nav-link">List des posts</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="new" class="nav-link">New Post</a>
      </li>
    </ul>
  </div>
</nav>
